<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Efa site</title>
</head>
<body>
    <h1>EFA Escola de idiomas e informática</h1>
    <h2>Bem-vindo {{nome}}</h2>
    <h3>{{lema}}</h3>

    <p>
        você que quer crescer economicamente e como pessoa seja um franqueado EFA-ENGLISH FOR ALL FORMANDO UM FUTURO MELHOR faça parte de uma empresa que cresce a cada dia no brasil

EFA- cursos em inglês ,informática e aulas de reforço extra curricular.
    </p>
</body>
</html>